# Mac OSX finder files
.DS_Store

# Node modules defined in package.json, installed with NPM
node_modules/

# WIP - to be defined and installed with bower, using CDN for now
public/lib

# WIP - mongo files
db/

# environment variables (Heroku)
.env